
@{
    ViewBag.Title = "Nueva_Cita";
}

<div class="container-fluid">
    <div class="row container_center title-basic">
        <h1>Creacion de Usuarios</h1>
    </div>
    <div class="row container_center">
        <div class="col col-md-8">
            <form action="" class="" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="dataUser">Usuario</label>
                        <input type="text" id="dataUser" class="form-control" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dataDoc">Documento</label>
                        <input type="text" id="dataDoc" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dataNombre">Nombres</label>
                        <input type="text" id="dataNombre" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dataApellido">Apellidos</label>
                        <input type="text" id="dataApellido" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dataFecha">Fecha Nacimiento</label>
                        <input type="date" id="dataFecha" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dataEmpresa">Nombre Empresa</label>
                        <input type="text" id="dataEmpresa" class="form-control" />
                    </div>
                </div>
                <div class="form-row" style="text-align:center; margin-top:30px;">
                    <input type="submit" class="btn btn-success" value="Guardar" />
                    <input type="reset" class="btn btn-primary" value="Limpiar" />
                </div>

            </form>
        </div>
    </div>
    <div class="row container_center">
        <div class="col col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Documento</th>
                        <th>Nombres</th>
                        <th>Fecha Nacimineto</th>
                        <th>Empresa</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

